<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>我刚刚更换了 @Weico微博客户端 的#魁拔# 主题，大家一起开启谐脉阵，振脉出击！@魁拔 #夺魁首拔头筹# 推荐你们也试试看！iPhone 版下载地址：http://t.cn/arInZj   </string>
	<key>firstuse</key>
	<string>yes</string>
	<key>userID</key>
	<string>1739665194</string>
</dict>
</plist>
