<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background_Compose_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Background_Detail_color</key>
	<dict>
		<key>B</key>
		<integer>207</integer>
		<key>G</key>
		<integer>236</integer>
		<key>R</key>
		<integer>245</integer>
	</dict>
	<key>Background_Panel_color</key>
	<dict>
		<key>B</key>
		<integer>207</integer>
		<key>G</key>
		<integer>236</integer>
		<key>R</key>
		<integer>245</integer>
	</dict>
	<key>Background_Timeline_color</key>
	<dict>
		<key>B</key>
		<integer>207</integer>
		<key>G</key>
		<integer>236</integer>
		<key>R</key>
		<integer>245</integer>
	</dict>
	<key>Channel_Dot_color</key>
	<dict>
		<key>B</key>
		<integer>176</integer>
		<key>G</key>
		<integer>200</integer>
		<key>R</key>
		<integer>216</integer>
		<key>alpha</key>
		<real>0.59999999999999998</real>
	</dict>
	<key>Channel_Dot_color_seleted</key>
	<dict>
		<key>B</key>
		<integer>18</integer>
		<key>G</key>
		<integer>126</integer>
		<key>R</key>
		<integer>235</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>Channel_Text_color</key>
	<dict>
		<key>B</key>
		<integer>6</integer>
		<key>G</key>
		<integer>40</integer>
		<key>New item</key>
		<string></string>
		<key>R</key>
		<integer>100</integer>
	</dict>
	<key>Channel_Text_color_shadow</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>R 2</key>
		<integer>255</integer>
		<key>Y</key>
		<string>0</string>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Compose_140Num_Warning_color</key>
	<dict>
		<key>B</key>
		<integer>16</integer>
		<key>G</key>
		<integer>52</integer>
		<key>R</key>
		<integer>65</integer>
	</dict>
	<key>Compose_140Num_color</key>
	<dict>
		<key>B</key>
		<integer>81</integer>
		<key>G</key>
		<integer>129</integer>
		<key>R</key>
		<integer>155</integer>
	</dict>
	<key>Compose_Option_color</key>
	<dict>
		<key>B</key>
		<integer>78</integer>
		<key>G</key>
		<integer>108</integer>
		<key>R</key>
		<integer>126</integer>
	</dict>
	<key>Compose_Option_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.0</real>
	</dict>
	<key>Compose_Original_color</key>
	<dict>
		<key>B</key>
		<integer>146</integer>
		<key>G</key>
		<integer>146</integer>
		<key>R</key>
		<integer>146</integer>
	</dict>
	<key>Compose_Original_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.0</real>
	</dict>
	<key>Compose_Text_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
	</dict>
	<key>Detail_Bottom_Info_color</key>
	<dict>
		<key>B</key>
		<integer>18</integer>
		<key>G</key>
		<integer>126</integer>
		<key>R</key>
		<integer>235</integer>
	</dict>
	<key>Detail_Content_color</key>
	<dict>
		<key>B</key>
		<integer>44</integer>
		<key>G</key>
		<integer>83</integer>
		<key>R</key>
		<integer>108</integer>
	</dict>
	<key>Detail_Name_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Detail_Name_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.0</real>
	</dict>
	<key>Detail_Reply_Name_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>60</integer>
		<key>R</key>
		<integer>220</integer>
	</dict>
	<key>Detail_Reply_Text_color</key>
	<dict>
		<key>B</key>
		<integer>11</integer>
		<key>G</key>
		<integer>35</integer>
		<key>R</key>
		<integer>43</integer>
	</dict>
	<key>Detail_Reply_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>60</integer>
		<key>R</key>
		<integer>220</integer>
	</dict>
	<key>Detail_Reply_Time_color</key>
	<dict>
		<key>B</key>
		<integer>30</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>140</integer>
	</dict>
	<key>Detail_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>91</integer>
		<key>G</key>
		<integer>116</integer>
		<key>R</key>
		<integer>142</integer>
	</dict>
	<key>Group_Side_bar_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>102</integer>
		<key>R</key>
		<integer>51</integer>
	</dict>
	<key>Group_Side_bar_color_highlight</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>51</integer>
		<key>R</key>
		<integer>32</integer>
	</dict>
	<key>Group_Side_bar_color_shadow</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>Y</key>
		<integer>1</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Group_Side_bar_color_shadow_highlight</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>Y</key>
		<integer>1</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Group_Text_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Group_Text_color_highlight</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Group_Text_color_shadow</key>
	<dict>
		<key>B</key>
		<integer>110</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>10</integer>
		<key>Y</key>
		<string>1</string>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Group_Text_color_shadow_highlight</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>Y</key>
		<string>1</string>
		<key>alpha</key>
		<real>0.10000000000000001</real>
	</dict>
	<key>Link_color</key>
	<dict>
		<key>B</key>
		<integer>18</integer>
		<key>G</key>
		<integer>126</integer>
		<key>R</key>
		<integer>235</integer>
	</dict>
	<key>Login_Ball_bg_color</key>
	<dict>
		<key>B</key>
		<integer>127</integer>
		<key>G</key>
		<integer>184</integer>
		<key>R</key>
		<integer>206</integer>
	</dict>
	<key>Mask_Button_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_Button_emboss</key>
	<dict>
		<key>B</key>
		<integer>80</integer>
		<key>G</key>
		<integer>20</integer>
		<key>R</key>
		<integer>10</integer>
		<key>Y</key>
		<integer>1</integer>
		<key>alpha</key>
		<real>0.29999999999999999</real>
	</dict>
	<key>Mask_Notice_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_Notice_emboss</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Mask_Title_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_Title_shadow</key>
	<dict>
		<key>B</key>
		<integer>50</integer>
		<key>G</key>
		<integer>10</integer>
		<key>R</key>
		<integer>110</integer>
		<key>Y</key>
		<integer>1</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Mask_TopTab_Selected_color</key>
	<dict>
		<key>B</key>
		<integer>95</integer>
		<key>G</key>
		<integer>80</integer>
		<key>R</key>
		<integer>65</integer>
	</dict>
	<key>Mask_TopTab_Selected_shadow</key>
	<dict>
		<key>B</key>
		<integer>95</integer>
		<key>G</key>
		<integer>80</integer>
		<key>R</key>
		<integer>65</integer>
		<key>alpha</key>
		<real>0.0</real>
	</dict>
	<key>Mask_TopTab_color</key>
	<dict>
		<key>B</key>
		<integer>152</integer>
		<key>G</key>
		<integer>141</integer>
		<key>R</key>
		<integer>131</integer>
	</dict>
	<key>Mask_TopTab_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.0</real>
	</dict>
	<key>More_Item_Line_color</key>
	<dict>
		<key>B</key>
		<integer>136</integer>
		<key>G</key>
		<integer>180</integer>
		<key>R</key>
		<integer>202</integer>
	</dict>
	<key>More_Item_Selected_Text_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>More_Item_Text_color</key>
	<dict>
		<key>B</key>
		<integer>71</integer>
		<key>G</key>
		<integer>92</integer>
		<key>R</key>
		<integer>108</integer>
	</dict>
	<key>More_Item_color</key>
	<dict>
		<key>B</key>
		<integer>241</integer>
		<key>G</key>
		<integer>248</integer>
		<key>R</key>
		<integer>250</integer>
	</dict>
	<key>Msg_Name_color</key>
	<dict>
		<key>B</key>
		<integer>52</integer>
		<key>G</key>
		<integer>52</integer>
		<key>R</key>
		<integer>52</integer>
	</dict>
	<key>Msg_Text_color</key>
	<dict>
		<key>B</key>
		<integer>52</integer>
		<key>G</key>
		<integer>52</integer>
		<key>R</key>
		<integer>52</integer>
	</dict>
	<key>Profile_4Button_Num_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Profile_4Button_Text_color</key>
	<dict>
		<key>B</key>
		<integer>74</integer>
		<key>G</key>
		<integer>100</integer>
		<key>R</key>
		<integer>117</integer>
	</dict>
	<key>Profile_BG_Text_color</key>
	<dict>
		<key>B</key>
		<integer>177</integer>
		<key>G</key>
		<integer>207</integer>
		<key>R</key>
		<integer>224</integer>
	</dict>
	<key>Profile_BG_Text_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Profile_Follow_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Profile_Follow_emboss</key>
	<dict>
		<key>B</key>
		<integer>90</integer>
		<key>G</key>
		<integer>80</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.0</real>
	</dict>
	<key>Profile_Unfollow_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Profile_Unfollow_emboss</key>
	<dict>
		<key>B</key>
		<integer>90</integer>
		<key>G</key>
		<integer>80</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.0</real>
	</dict>
	<key>Statusbar_Style</key>
	<integer>2</integer>
	<key>Theme_Main_color</key>
	<dict>
		<key>B</key>
		<integer>46</integer>
		<key>G</key>
		<integer>74</integer>
		<key>R</key>
		<integer>96</integer>
	</dict>
	<key>Timeline_Content_color</key>
	<dict>
		<key>B</key>
		<integer>44</integer>
		<key>G</key>
		<integer>83</integer>
		<key>R</key>
		<integer>108</integer>
	</dict>
	<key>Timeline_Name_color</key>
	<dict>
		<key>B</key>
		<integer>91</integer>
		<key>G</key>
		<integer>116</integer>
		<key>R</key>
		<integer>142</integer>
	</dict>
	<key>Timeline_Notice_color</key>
	<dict>
		<key>B</key>
		<integer>6</integer>
		<key>G</key>
		<integer>43</integer>
		<key>R</key>
		<integer>100</integer>
	</dict>
	<key>Timeline_Notice_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.050000000000000003</real>
	</dict>
	<key>Timeline_PullRefresh_color</key>
	<dict>
		<key>B</key>
		<integer>30</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>140</integer>
	</dict>
	<key>Timeline_PullRefresh_emboss</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Timeline_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>91</integer>
		<key>G</key>
		<integer>116</integer>
		<key>R</key>
		<integer>142</integer>
	</dict>
	<key>Timeline_Selected_Content_color</key>
	<dict>
		<key>B</key>
		<integer>72</integer>
		<key>G</key>
		<integer>72</integer>
		<key>R</key>
		<integer>72</integer>
	</dict>
	<key>Timeline_Selected_Name_color</key>
	<dict>
		<key>B</key>
		<integer>6</integer>
		<key>G</key>
		<integer>43</integer>
		<key>R</key>
		<integer>100</integer>
	</dict>
	<key>Timeline_Selected_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>25</integer>
		<key>R</key>
		<integer>60</integer>
	</dict>
	<key>Timeline_Selected_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>153</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Timeline_Selected_Time_color</key>
	<dict>
		<key>B</key>
		<integer>153</integer>
		<key>G</key>
		<integer>153</integer>
		<key>R</key>
		<integer>153</integer>
	</dict>
	<key>Timeline_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>41</integer>
		<key>G</key>
		<integer>170</integer>
		<key>R</key>
		<integer>123</integer>
	</dict>
	<key>Timeline_Time_color</key>
	<dict>
		<key>B</key>
		<integer>41</integer>
		<key>G</key>
		<integer>170</integer>
		<key>R</key>
		<integer>123</integer>
	</dict>
</dict>
</plist>
