<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background_Compose_color</key>
	<dict>
		<key>B</key>
		<integer>53</integer>
		<key>G</key>
		<integer>39</integer>
		<key>R</key>
		<integer>29</integer>
	</dict>
	<key>Background_Detail_color</key>
	<dict>
		<key>B</key>
		<integer>30</integer>
		<key>G</key>
		<integer>8</integer>
		<key>R</key>
		<integer>0</integer>
	</dict>
	<key>Background_Panel_color</key>
	<dict>
		<key>B</key>
		<integer>30</integer>
		<key>G</key>
		<integer>8</integer>
		<key>R</key>
		<integer>0</integer>
	</dict>
	<key>Background_Timeline_color</key>
	<dict>
		<key>B</key>
		<integer>30</integer>
		<key>G</key>
		<integer>8</integer>
		<key>R</key>
		<integer>0</integer>
	</dict>
	<key>Channel_Dot_color</key>
	<dict>
		<key>B</key>
		<integer>96</integer>
		<key>G</key>
		<integer>73</integer>
		<key>R</key>
		<integer>49</integer>
		<key>alpha</key>
		<real>0.59999999999999998</real>
	</dict>
	<key>Channel_Dot_color_seleted</key>
	<dict>
		<key>B</key>
		<integer>223</integer>
		<key>G</key>
		<integer>137</integer>
		<key>R</key>
		<integer>44</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>Compose_140Num_Warning_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>38</integer>
		<key>R</key>
		<integer>202</integer>
	</dict>
	<key>Compose_140Num_color</key>
	<dict>
		<key>B</key>
		<integer>242</integer>
		<key>G</key>
		<integer>151</integer>
		<key>R</key>
		<integer>63</integer>
	</dict>
	<key>Compose_Option_color</key>
	<dict>
		<key>B</key>
		<integer>117</integer>
		<key>G</key>
		<integer>80</integer>
		<key>R</key>
		<integer>46</integer>
	</dict>
	<key>Compose_Option_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Compose_Original_color</key>
	<dict>
		<key>B</key>
		<integer>167</integer>
		<key>G</key>
		<integer>158</integer>
		<key>R</key>
		<integer>145</integer>
	</dict>
	<key>Compose_Original_shadow</key>
	<dict>
		<key>B</key>
		<integer>128</integer>
		<key>G</key>
		<integer>128</integer>
		<key>R</key>
		<integer>128</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Compose_Text_color</key>
	<dict>
		<key>B</key>
		<integer>167</integer>
		<key>G</key>
		<integer>158</integer>
		<key>R</key>
		<integer>145</integer>
	</dict>
	<key>Detail_Bottom_Info_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>224</integer>
		<key>R</key>
		<integer>235</integer>
	</dict>
	<key>Detail_Content_color</key>
	<dict>
		<key>B</key>
		<integer>167</integer>
		<key>G</key>
		<integer>158</integer>
		<key>R</key>
		<integer>145</integer>
	</dict>
	<key>Detail_Name_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Detail_Name_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Detail_Reply_Name_color</key>
	<dict>
		<key>B</key>
		<integer>128</integer>
		<key>G</key>
		<integer>113</integer>
		<key>R</key>
		<integer>91</integer>
	</dict>
	<key>Detail_Reply_Text_color</key>
	<dict>
		<key>B</key>
		<integer>167</integer>
		<key>G</key>
		<integer>158</integer>
		<key>R</key>
		<integer>145</integer>
	</dict>
	<key>Detail_Reply_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>167</integer>
		<key>G</key>
		<integer>92</integer>
		<key>R</key>
		<integer>119</integer>
	</dict>
	<key>Detail_Reply_Time_color</key>
	<dict>
		<key>B</key>
		<integer>117</integer>
		<key>G</key>
		<integer>80</integer>
		<key>R</key>
		<integer>46</integer>
	</dict>
	<key>Detail_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>167</integer>
		<key>G</key>
		<integer>158</integer>
		<key>R</key>
		<integer>145</integer>
	</dict>
	<key>Group_Side_bar_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>163</integer>
		<key>R</key>
		<integer>89</integer>
	</dict>
	<key>Group_Side_bar_color_highlight</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>217</integer>
		<key>R</key>
		<integer>173</integer>
	</dict>
	<key>Group_Text_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>163</integer>
		<key>R</key>
		<integer>89</integer>
	</dict>
	<key>Group_Text_color_highlight</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>217</integer>
		<key>R</key>
		<integer>173</integer>
	</dict>
	<key>Link_color</key>
	<dict>
		<key>B</key>
		<integer>177</integer>
		<key>G</key>
		<integer>112</integer>
		<key>R</key>
		<integer>76</integer>
	</dict>
	<key>Login_Ball_bg_color</key>
	<dict>
		<key>B</key>
		<integer>80</integer>
		<key>G</key>
		<integer>80</integer>
		<key>R</key>
		<integer>80</integer>
	</dict>
	<key>Mask_Button_color</key>
	<dict>
		<key>B</key>
		<integer>247</integer>
		<key>G</key>
		<integer>168</integer>
		<key>R</key>
		<integer>0</integer>
	</dict>
	<key>Mask_Button_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Mask_Notice_color</key>
	<dict>
		<key>B</key>
		<integer>73</integer>
		<key>G</key>
		<integer>210</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_Notice_emboss</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Mask_Title_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_Title_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Mask_TopTab_Selected_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_TopTab_Selected_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Mask_TopTab_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_TopTab_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>More_Item_Line_color</key>
	<dict>
		<key>B</key>
		<integer>101</integer>
		<key>G</key>
		<integer>63</integer>
		<key>R</key>
		<integer>25</integer>
	</dict>
	<key>More_Item_Selected_Text_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>More_Item_Text_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>More_Item_color</key>
	<dict>
		<key>B</key>
		<integer>55</integer>
		<key>G</key>
		<integer>22</integer>
		<key>R</key>
		<integer>3</integer>
	</dict>
	<key>Msg_Name_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Msg_Text_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>New item</key>
	<string></string>
	<key>Profile_4Button_Num_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>224</integer>
		<key>R</key>
		<integer>160</integer>
	</dict>
	<key>Profile_4Button_Text_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>163</integer>
		<key>R</key>
		<integer>89</integer>
	</dict>
	<key>Profile_BG_Text_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Profile_BG_Text_emboss</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Profile_Follow_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Profile_Follow_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Profile_Unfollow_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Profile_Unfollow_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Statusbar_Style</key>
	<integer>2</integer>
	<key>Theme_Main_color</key>
	<dict>
		<key>B</key>
		<integer>30</integer>
		<key>G</key>
		<integer>8</integer>
		<key>R</key>
		<integer>0</integer>
	</dict>
	<key>Timeline_Content_color</key>
	<dict>
		<key>B</key>
		<integer>167</integer>
		<key>G</key>
		<integer>158</integer>
		<key>R</key>
		<integer>145</integer>
	</dict>
	<key>Timeline_Name_color</key>
	<dict>
		<key>B</key>
		<integer>128</integer>
		<key>G</key>
		<integer>113</integer>
		<key>R</key>
		<integer>91</integer>
	</dict>
	<key>Timeline_Notice_color</key>
	<dict>
		<key>B</key>
		<integer>221</integer>
		<key>G</key>
		<integer>213</integer>
		<key>R</key>
		<integer>205</integer>
	</dict>
	<key>Timeline_Notice_emboss</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Timeline_PullRefresh_color</key>
	<dict>
		<key>B</key>
		<integer>242</integer>
		<key>G</key>
		<integer>151</integer>
		<key>R</key>
		<integer>63</integer>
	</dict>
	<key>Timeline_PullRefresh_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Timeline_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>167</integer>
		<key>G</key>
		<integer>158</integer>
		<key>R</key>
		<integer>145</integer>
	</dict>
	<key>Timeline_Selected_Content_color</key>
	<dict>
		<key>B</key>
		<integer>167</integer>
		<key>G</key>
		<integer>158</integer>
		<key>R</key>
		<integer>145</integer>
	</dict>
	<key>Timeline_Selected_Name_color</key>
	<dict>
		<key>B</key>
		<integer>128</integer>
		<key>G</key>
		<integer>113</integer>
		<key>R</key>
		<integer>91</integer>
	</dict>
	<key>Timeline_Selected_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>167</integer>
		<key>G</key>
		<integer>158</integer>
		<key>R</key>
		<integer>145</integer>
	</dict>
	<key>Timeline_Selected_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>167</integer>
		<key>G</key>
		<integer>92</integer>
		<key>R</key>
		<integer>119</integer>
	</dict>
	<key>Timeline_Selected_Time_color</key>
	<dict>
		<key>B</key>
		<integer>117</integer>
		<key>G</key>
		<integer>80</integer>
		<key>R</key>
		<integer>46</integer>
	</dict>
	<key>Timeline_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>167</integer>
		<key>G</key>
		<integer>92</integer>
		<key>R</key>
		<integer>119</integer>
	</dict>
	<key>Timeline_Time_color</key>
	<dict>
		<key>B</key>
		<integer>117</integer>
		<key>G</key>
		<integer>80</integer>
		<key>R</key>
		<integer>46</integer>
	</dict>
</dict>
</plist>
