<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>我刚刚更换了@Weico微博客户端 的#Blue Moon#主题！推荐你们也试试看, 全新 Weico 2.0 iPhone 版：http://t.cn/zOmTZK7 iPad版：http://t.cn/zOk9paw </string>
	<key>firstuse</key>
	<string>yes</string>
</dict>
</plist>
