<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Avatar_state</key>
	<integer>0</integer>
	<key>Background_Compose_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Background_Detail_color</key>
	<dict>
		<key>B</key>
		<integer>235</integer>
		<key>G</key>
		<integer>227</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Background_Panel_color</key>
	<dict>
		<key>B</key>
		<integer>235</integer>
		<key>G</key>
		<integer>227</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Background_Timeline_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Channel_Dot_color</key>
	<dict>
		<key>B</key>
		<integer>173</integer>
		<key>G</key>
		<integer>172</integer>
		<key>R</key>
		<integer>103</integer>
		<key>alpha</key>
		<real>0.29999999999999999</real>
	</dict>
	<key>Channel_Dot_color_seleted</key>
	<dict>
		<key>B</key>
		<integer>173</integer>
		<key>G</key>
		<integer>172</integer>
		<key>R</key>
		<integer>103</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>Channel_Text_color</key>
	<dict>
		<key>B</key>
		<integer>106</integer>
		<key>G</key>
		<integer>106</integer>
		<key>R</key>
		<integer>106</integer>
	</dict>
	<key>Channel_Text_color_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>Y</key>
		<string>0</string>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Compose_140Num_Warning_color</key>
	<dict>
		<key>B</key>
		<integer>210</integer>
		<key>G</key>
		<integer>53</integer>
		<key>R</key>
		<integer>10</integer>
	</dict>
	<key>Compose_140Num_color</key>
	<dict>
		<key>B</key>
		<integer>106</integer>
		<key>G</key>
		<integer>106</integer>
		<key>R</key>
		<integer>106</integer>
	</dict>
	<key>Compose_Option_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Compose_Option_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Compose_Original_color</key>
	<dict>
		<key>B</key>
		<integer>106</integer>
		<key>G</key>
		<integer>106</integer>
		<key>R</key>
		<integer>106</integer>
	</dict>
	<key>Compose_Original_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Compose_Text_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
	</dict>
	<key>Detail_Bottom_Info_color</key>
	<dict>
		<key>B</key>
		<integer>106</integer>
		<key>G</key>
		<integer>106</integer>
		<key>R</key>
		<integer>106</integer>
	</dict>
	<key>Detail_Content_color</key>
	<dict>
		<key>B</key>
		<integer>106</integer>
		<key>G</key>
		<integer>106</integer>
		<key>R</key>
		<integer>106</integer>
	</dict>
	<key>Detail_Name_color</key>
	<dict>
		<key>B</key>
		<integer>76</integer>
		<key>G</key>
		<integer>76</integer>
		<key>R</key>
		<integer>76</integer>
	</dict>
	<key>Detail_Name_emboss</key>
	<dict>
		<key>B</key>
		<integer>23</integer>
		<key>G</key>
		<integer>4</integer>
		<key>R</key>
		<integer>69</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Detail_Reply_Name_color</key>
	<dict>
		<key>B</key>
		<integer>76</integer>
		<key>G</key>
		<integer>76</integer>
		<key>R</key>
		<integer>76</integer>
	</dict>
	<key>Detail_Reply_Text_color</key>
	<dict>
		<key>B</key>
		<integer>106</integer>
		<key>G</key>
		<integer>106</integer>
		<key>R</key>
		<integer>106</integer>
	</dict>
	<key>Detail_Reply_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>44</integer>
		<key>G</key>
		<integer>147</integer>
		<key>R</key>
		<integer>208</integer>
	</dict>
	<key>Detail_Reply_Time_color</key>
	<dict>
		<key>B</key>
		<integer>44</integer>
		<key>G</key>
		<integer>147</integer>
		<key>R</key>
		<integer>208</integer>
	</dict>
	<key>Detail_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>106</integer>
		<key>G</key>
		<integer>106</integer>
		<key>R</key>
		<integer>106</integer>
	</dict>
	<key>Group_Side_bar_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Group_Side_bar_color_highlight</key>
	<dict>
		<key>B</key>
		<integer>213</integer>
		<key>G</key>
		<integer>211</integer>
		<key>R</key>
		<integer>167</integer>
	</dict>
	<key>Group_Side_bar_color_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Group_Side_bar_color_shadow_highlight</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Group_Text_color</key>
	<dict>
		<key>B</key>
		<integer>164</integer>
		<key>G</key>
		<integer>143</integer>
		<key>R</key>
		<integer>215</integer>
	</dict>
	<key>Group_Text_color_highlight</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Group_Text_color_shadow</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>Y</key>
		<string>1</string>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Link_color</key>
	<dict>
		<key>B</key>
		<integer>173</integer>
		<key>G</key>
		<integer>172</integer>
		<key>R</key>
		<integer>103</integer>
	</dict>
	<key>Login_Ball_bg_color</key>
	<dict>
		<key>B</key>
		<integer>197</integer>
		<key>G</key>
		<integer>195</integer>
		<key>R</key>
		<integer>140</integer>
	</dict>
	<key>Mask_Button_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_Button_emboss</key>
	<dict>
		<key>B</key>
		<integer>132</integer>
		<key>G</key>
		<integer>107</integer>
		<key>R</key>
		<integer>203</integer>
		<key>Y</key>
		<integer>-1</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Mask_Notice_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_Notice_emboss</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>Y</key>
		<integer>-1</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Mask_Title_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_Title_shadow</key>
	<dict>
		<key>B</key>
		<integer>72</integer>
		<key>G</key>
		<integer>59</integer>
		<key>R</key>
		<integer>83</integer>
		<key>alpha</key>
		<real>0.10000000000000001</real>
	</dict>
	<key>Mask_TopTab_Selected_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_TopTab_Selected_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.29999999999999999</real>
	</dict>
	<key>Mask_TopTab_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_TopTab_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.29999999999999999</real>
	</dict>
	<key>More_Item_Line_color</key>
	<dict>
		<key>B</key>
		<integer>155</integer>
		<key>G</key>
		<integer>197</integer>
		<key>R</key>
		<integer>228</integer>
	</dict>
	<key>More_Item_Selected_Text_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>More_Item_Text_color</key>
	<dict>
		<key>B</key>
		<integer>106</integer>
		<key>G</key>
		<integer>106</integer>
		<key>R</key>
		<integer>106</integer>
	</dict>
	<key>More_Item_color</key>
	<dict>
		<key>B</key>
		<integer>233</integer>
		<key>G</key>
		<integer>244</integer>
		<key>R</key>
		<integer>250</integer>
	</dict>
	<key>More_Item_color 2</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Msg_Name_color</key>
	<dict>
		<key>B</key>
		<integer>57</integer>
		<key>G</key>
		<integer>57</integer>
		<key>R</key>
		<integer>57</integer>
	</dict>
	<key>Msg_Text_color</key>
	<dict>
		<key>B</key>
		<integer>57</integer>
		<key>G</key>
		<integer>57</integer>
		<key>R</key>
		<integer>57</integer>
	</dict>
	<key>New item</key>
	<string></string>
	<key>Profile_4Button_Num_color</key>
	<dict>
		<key>B</key>
		<integer>154</integer>
		<key>G</key>
		<integer>153</integer>
		<key>R</key>
		<integer>70</integer>
	</dict>
	<key>Profile_4Button_Text_color</key>
	<dict>
		<key>B</key>
		<integer>93</integer>
		<key>G</key>
		<integer>93</integer>
		<key>R</key>
		<integer>93</integer>
	</dict>
	<key>Profile_BG_Text_color</key>
	<dict>
		<key>B</key>
		<integer>106</integer>
		<key>G</key>
		<integer>106</integer>
		<key>R</key>
		<integer>106</integer>
	</dict>
	<key>Profile_BG_Text_emboss</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Profile_Follow_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Profile_Follow_emboss</key>
	<dict>
		<key>B</key>
		<integer>76</integer>
		<key>G</key>
		<integer>50</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Profile_Unfollow_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Profile_Unfollow_emboss</key>
	<dict>
		<key>B</key>
		<integer>46</integer>
		<key>G</key>
		<integer>30</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Statusbar_Style</key>
	<integer>2</integer>
	<key>Theme_Main_color</key>
	<dict>
		<key>B</key>
		<integer>106</integer>
		<key>G</key>
		<integer>106</integer>
		<key>R</key>
		<integer>106</integer>
	</dict>
	<key>Timeline_Content_color</key>
	<dict>
		<key>B</key>
		<integer>106</integer>
		<key>G</key>
		<integer>106</integer>
		<key>R</key>
		<integer>106</integer>
	</dict>
	<key>Timeline_Name_color</key>
	<dict>
		<key>B</key>
		<integer>76</integer>
		<key>G</key>
		<integer>76</integer>
		<key>R</key>
		<integer>76</integer>
	</dict>
	<key>Timeline_Notice_color</key>
	<dict>
		<key>B</key>
		<integer>20</integer>
		<key>G</key>
		<integer>63</integer>
		<key>R</key>
		<integer>100</integer>
	</dict>
	<key>Timeline_Notice_emboss</key>
	<dict>
		<key>B</key>
		<integer>20</integer>
		<key>G</key>
		<integer>63</integer>
		<key>R</key>
		<integer>100</integer>
		<key>Y</key>
		<integer>-1</integer>
		<key>alpha</key>
		<real>0.0</real>
	</dict>
	<key>Timeline_PullRefresh_color</key>
	<dict>
		<key>B</key>
		<integer>106</integer>
		<key>G</key>
		<integer>106</integer>
		<key>R</key>
		<integer>106</integer>
	</dict>
	<key>Timeline_PullRefresh_emboss</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>Y</key>
		<integer>1</integer>
		<key>alpha</key>
		<real>0.29999999999999999</real>
	</dict>
	<key>Timeline_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>106</integer>
		<key>G</key>
		<integer>106</integer>
		<key>R</key>
		<integer>106</integer>
	</dict>
	<key>Timeline_Selected_Content_color</key>
	<dict>
		<key>B</key>
		<integer>106</integer>
		<key>G</key>
		<integer>106</integer>
		<key>R</key>
		<integer>106</integer>
	</dict>
	<key>Timeline_Selected_Name_color</key>
	<dict>
		<key>B</key>
		<integer>76</integer>
		<key>G</key>
		<integer>76</integer>
		<key>R</key>
		<integer>76</integer>
	</dict>
	<key>Timeline_Selected_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>106</integer>
		<key>G</key>
		<integer>106</integer>
		<key>R</key>
		<integer>106</integer>
	</dict>
	<key>Timeline_Selected_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>44</integer>
		<key>G</key>
		<integer>147</integer>
		<key>R</key>
		<integer>208</integer>
	</dict>
	<key>Timeline_Selected_Time_color</key>
	<dict>
		<key>B</key>
		<integer>44</integer>
		<key>G</key>
		<integer>147</integer>
		<key>R</key>
		<integer>208</integer>
	</dict>
	<key>Timeline_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>44</integer>
		<key>G</key>
		<integer>147</integer>
		<key>R</key>
		<integer>208</integer>
	</dict>
	<key>Timeline_Time_color</key>
	<dict>
		<key>B</key>
		<integer>44</integer>
		<key>G</key>
		<integer>147</integer>
		<key>R</key>
		<integer>208</integer>
	</dict>
</dict>
</plist>
