<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>我刚刚更换了 全新Weico微博客户端 2.0 版的 #New PinkPink# 主题！推荐你们也试试看。iPhone版下载地址：http://t.cn/zOmTZK7 iPad 版下载地址：http://t.cn/zOk9paw </string>
	<key>firstuse</key>
	<string>yes</string>
</dict>
</plist>
