<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstuse</key>
	<string>yes</string>
	<key>content</key>
	<string>我刚刚更换了全新WeicoPro微博客户端 2.0 版 #Dark Fairy# 主题！推荐你们也试试看。iPhone 版下载地址：http://t.cn/zW7FyLw iPad 版下载地址：http://t.cn/zW7F5gh </string>
</dict>
</plist>
