<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background_Compose_color</key>
	<dict>
		<key>B</key>
		<integer>237</integer>
		<key>G</key>
		<integer>242</integer>
		<key>R</key>
		<integer>245</integer>
	</dict>
	<key>Background_Detail_color</key>
	<dict>
		<key>B</key>
		<integer>237</integer>
		<key>G</key>
		<integer>242</integer>
		<key>R</key>
		<integer>245</integer>
	</dict>
	<key>Background_Panel_color</key>
	<dict>
		<key>B</key>
		<integer>237</integer>
		<key>G</key>
		<integer>242</integer>
		<key>R</key>
		<integer>245</integer>
	</dict>
	<key>Background_Timeline_color</key>
	<dict>
		<key>B</key>
		<integer>237</integer>
		<key>G</key>
		<integer>242</integer>
		<key>R</key>
		<integer>245</integer>
	</dict>
	<key>Channel_Dot_color</key>
	<dict>
		<key>B</key>
		<integer>195</integer>
		<key>G</key>
		<integer>221</integer>
		<key>R</key>
		<integer>230</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Channel_Dot_color_seleted</key>
	<dict>
		<key>B</key>
		<integer>46</integer>
		<key>G</key>
		<integer>213</integer>
		<key>R</key>
		<integer>255</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>Channel_Text_color</key>
	<dict>
		<key>B</key>
		<integer>62</integer>
		<key>G</key>
		<integer>147</integer>
		<key>R</key>
		<integer>103</integer>
	</dict>
	<key>Channel_Text_color_shadow</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>Y</key>
		<string>0</string>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Compose_140Num_Warning_color</key>
	<dict>
		<key>B</key>
		<integer>55</integer>
		<key>G</key>
		<integer>81</integer>
		<key>R</key>
		<integer>155</integer>
	</dict>
	<key>Compose_140Num_color</key>
	<dict>
		<key>B</key>
		<integer>103</integer>
		<key>G</key>
		<integer>147</integer>
		<key>R</key>
		<integer>62</integer>
	</dict>
	<key>Compose_Option_color</key>
	<dict>
		<key>B</key>
		<integer>218</integer>
		<key>G</key>
		<integer>235</integer>
		<key>R</key>
		<integer>243</integer>
	</dict>
	<key>Compose_Option_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Compose_Original_color</key>
	<dict>
		<key>B</key>
		<integer>135</integer>
		<key>G</key>
		<integer>173</integer>
		<key>R</key>
		<integer>166</integer>
	</dict>
	<key>Compose_Original_shadow</key>
	<dict>
		<key>B</key>
		<integer>128</integer>
		<key>G</key>
		<integer>128</integer>
		<key>R</key>
		<integer>128</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Compose_Text_color</key>
	<dict>
		<key>B</key>
		<integer>113</integer>
		<key>G</key>
		<integer>137</integer>
		<key>R</key>
		<integer>149</integer>
	</dict>
	<key>Detail_Bottom_Info_color</key>
	<dict>
		<key>B</key>
		<integer>161</integer>
		<key>G</key>
		<integer>168</integer>
		<key>R</key>
		<integer>172</integer>
	</dict>
	<key>Detail_Content_color</key>
	<dict>
		<key>B</key>
		<integer>113</integer>
		<key>G</key>
		<integer>137</integer>
		<key>R</key>
		<integer>149</integer>
	</dict>
	<key>Detail_Name_color</key>
	<dict>
		<key>B</key>
		<integer>11</integer>
		<key>G</key>
		<integer>61</integer>
		<key>R</key>
		<integer>108</integer>
	</dict>
	<key>Detail_Name_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Detail_Reply_Name_color</key>
	<dict>
		<key>B</key>
		<integer>55</integer>
		<key>G</key>
		<integer>112</integer>
		<key>R</key>
		<integer>83</integer>
	</dict>
	<key>Detail_Reply_Text_color</key>
	<dict>
		<key>B</key>
		<integer>113</integer>
		<key>G</key>
		<integer>137</integer>
		<key>R</key>
		<integer>149</integer>
	</dict>
	<key>Detail_Reply_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>62</integer>
		<key>G</key>
		<integer>147</integer>
		<key>R</key>
		<integer>103</integer>
	</dict>
	<key>Detail_Reply_Time_color</key>
	<dict>
		<key>B</key>
		<integer>161</integer>
		<key>G</key>
		<integer>168</integer>
		<key>R</key>
		<integer>172</integer>
	</dict>
	<key>Detail_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>113</integer>
		<key>G</key>
		<integer>137</integer>
		<key>R</key>
		<integer>149</integer>
	</dict>
	<key>Group_Side_bar_color</key>
	<dict>
		<key>B</key>
		<integer>95</integer>
		<key>G</key>
		<integer>125</integer>
		<key>R</key>
		<integer>141</integer>
	</dict>
	<key>Group_Side_bar_color_highlight</key>
	<dict>
		<key>B</key>
		<integer>9</integer>
		<key>G</key>
		<integer>68</integer>
		<key>R</key>
		<integer>124</integer>
	</dict>
	<key>Group_Side_bar_color_shadow</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>Y</key>
		<integer>1</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Group_Side_bar_color_shadow_highlight</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>Y</key>
		<integer>1</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Link_color</key>
	<dict>
		<key>B</key>
		<integer>169</integer>
		<key>G</key>
		<integer>171</integer>
		<key>R</key>
		<integer>99</integer>
	</dict>
	<key>Login_Ball_bg_color</key>
	<dict>
		<key>B</key>
		<integer>41</integer>
		<key>G</key>
		<integer>136</integer>
		<key>R</key>
		<integer>86</integer>
	</dict>
	<key>Mask_Button_color</key>
	<dict>
		<key>B</key>
		<integer>84</integer>
		<key>G</key>
		<integer>105</integer>
		<key>R</key>
		<integer>128</integer>
	</dict>
	<key>Mask_Button_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Mask_Notice_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>85</integer>
		<key>R</key>
		<integer>151</integer>
	</dict>
	<key>Mask_Notice_emboss</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Mask_Title_color</key>
	<dict>
		<key>B</key>
		<integer>9</integer>
		<key>G</key>
		<integer>68</integer>
		<key>R</key>
		<integer>124</integer>
	</dict>
	<key>Mask_Title_shadow</key>
	<dict>
		<key>B</key>
		<integer>161</integer>
		<key>G</key>
		<integer>223</integer>
		<key>R</key>
		<integer>240</integer>
		<key>Y</key>
		<integer>1</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Mask_TopTab_Selected_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_TopTab_Selected_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Mask_TopTab_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_TopTab_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>More_Item_Line_color</key>
	<dict>
		<key>B</key>
		<integer>139</integer>
		<key>G</key>
		<integer>157</integer>
		<key>R</key>
		<integer>177</integer>
	</dict>
	<key>More_Item_Selected_Text_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>More_Item_Text_color</key>
	<dict>
		<key>B</key>
		<integer>68</integer>
		<key>G</key>
		<integer>101</integer>
		<key>R</key>
		<integer>127</integer>
	</dict>
	<key>More_Item_color</key>
	<dict>
		<key>B</key>
		<integer>218</integer>
		<key>G</key>
		<integer>235</integer>
		<key>R</key>
		<integer>243</integer>
	</dict>
	<key>Msg_Name_color</key>
	<dict>
		<key>B</key>
		<integer>41</integer>
		<key>G</key>
		<integer>41</integer>
		<key>R</key>
		<integer>41</integer>
	</dict>
	<key>Msg_Text_color</key>
	<dict>
		<key>B</key>
		<integer>113</integer>
		<key>G</key>
		<integer>137</integer>
		<key>R</key>
		<integer>149</integer>
	</dict>
	<key>Profile_4Button_Num_color</key>
	<dict>
		<key>B</key>
		<integer>41</integer>
		<key>G</key>
		<integer>136</integer>
		<key>R</key>
		<integer>86</integer>
	</dict>
	<key>Profile_4Button_Text_color</key>
	<dict>
		<key>B</key>
		<integer>105</integer>
		<key>G</key>
		<integer>144</integer>
		<key>R</key>
		<integer>158</integer>
	</dict>
	<key>Profile_BG_Text_color</key>
	<dict>
		<key>B</key>
		<integer>114</integer>
		<key>G</key>
		<integer>184</integer>
		<key>R</key>
		<integer>154</integer>
	</dict>
	<key>Profile_BG_Text_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Profile_Follow_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Profile_Follow_emboss</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Profile_Unfollow_color</key>
	<dict>
		<key>B</key>
		<integer>49</integer>
		<key>G</key>
		<integer>124</integer>
		<key>R</key>
		<integer>98</integer>
	</dict>
	<key>Profile_Unfollow_emboss</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Statusbar_Style</key>
	<integer>2</integer>
	<key>Theme_Main_color</key>
	<dict>
		<key>B</key>
		<integer>206</integer>
		<key>G</key>
		<integer>227</integer>
		<key>R</key>
		<integer>236</integer>
	</dict>
	<key>Timeline_Content_color</key>
	<dict>
		<key>B</key>
		<integer>113</integer>
		<key>G</key>
		<integer>137</integer>
		<key>R</key>
		<integer>149</integer>
	</dict>
	<key>Timeline_Name_color</key>
	<dict>
		<key>B</key>
		<integer>55</integer>
		<key>G</key>
		<integer>112</integer>
		<key>R</key>
		<integer>83</integer>
	</dict>
	<key>Timeline_Notice_color</key>
	<dict>
		<key>B</key>
		<integer>9</integer>
		<key>G</key>
		<integer>68</integer>
		<key>R</key>
		<integer>124</integer>
	</dict>
	<key>Timeline_Notice_emboss</key>
	<dict>
		<key>B</key>
		<integer>170</integer>
		<key>G</key>
		<integer>226</integer>
		<key>R</key>
		<integer>255</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Timeline_PullRefresh_color</key>
	<dict>
		<key>B</key>
		<integer>25</integer>
		<key>G</key>
		<integer>92</integer>
		<key>R</key>
		<integer>120</integer>
	</dict>
	<key>Timeline_PullRefresh_emboss</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Timeline_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>113</integer>
		<key>G</key>
		<integer>137</integer>
		<key>R</key>
		<integer>149</integer>
	</dict>
	<key>Timeline_Selected_Content_color</key>
	<dict>
		<key>B</key>
		<integer>113</integer>
		<key>G</key>
		<integer>137</integer>
		<key>R</key>
		<integer>149</integer>
	</dict>
	<key>Timeline_Selected_Name_color</key>
	<dict>
		<key>B</key>
		<integer>113</integer>
		<key>G</key>
		<integer>137</integer>
		<key>R</key>
		<integer>149</integer>
	</dict>
	<key>Timeline_Selected_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>41</integer>
		<key>G</key>
		<integer>41</integer>
		<key>R</key>
		<integer>41</integer>
	</dict>
	<key>Timeline_Selected_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>62</integer>
		<key>G</key>
		<integer>147</integer>
		<key>R</key>
		<integer>103</integer>
	</dict>
	<key>Timeline_Selected_Time_color</key>
	<dict>
		<key>B</key>
		<integer>161</integer>
		<key>G</key>
		<integer>168</integer>
		<key>R</key>
		<integer>172</integer>
	</dict>
	<key>Timeline_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>62</integer>
		<key>G</key>
		<integer>147</integer>
		<key>R</key>
		<integer>103</integer>
	</dict>
	<key>Timeline_Time_color</key>
	<dict>
		<key>B</key>
		<integer>161</integer>
		<key>G</key>
		<integer>168</integer>
		<key>R</key>
		<integer>172</integer>
	</dict>
</dict>
</plist>
