<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background_Compose_color</key>
	<dict>
		<key>B</key>
		<integer>246</integer>
		<key>G</key>
		<integer>244</integer>
		<key>R</key>
		<integer>241</integer>
	</dict>
	<key>Background_Detail_color</key>
	<dict>
		<key>B</key>
		<integer>246</integer>
		<key>G</key>
		<integer>244</integer>
		<key>R</key>
		<integer>241</integer>
	</dict>
	<key>Background_Panel_color</key>
	<dict>
		<key>B</key>
		<integer>246</integer>
		<key>G</key>
		<integer>244</integer>
		<key>R</key>
		<integer>241</integer>
	</dict>
	<key>Background_Timeline_color</key>
	<dict>
		<key>B</key>
		<integer>246</integer>
		<key>G</key>
		<integer>244</integer>
		<key>R</key>
		<integer>241</integer>
	</dict>
	<key>Channel_Dot_color</key>
	<dict>
		<key>B</key>
		<integer>116</integer>
		<key>G</key>
		<integer>109</integer>
		<key>R</key>
		<integer>100</integer>
		<key>alpha</key>
		<real>0.6</real>
	</dict>
	<key>Channel_Dot_color_seleted</key>
	<dict>
		<key>B</key>
		<integer>180</integer>
		<key>G</key>
		<integer>129</integer>
		<key>R</key>
		<integer>67</integer>
		<key>alpha</key>
		<real>0.8</real>
	</dict>
	<key>Channel_Text_color</key>
	<dict>
		<key>B</key>
		<integer>182</integer>
		<key>G</key>
		<integer>127</integer>
		<key>New item</key>
		<string></string>
		<key>R</key>
		<integer>61</integer>
	</dict>
	<key>Channel_Text_color_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>R 2</key>
		<integer>0</integer>
		<key>Y</key>
		<string>0</string>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Compose_140Num_Warning_color</key>
	<dict>
		<key>B</key>
		<integer>37</integer>
		<key>G</key>
		<integer>74</integer>
		<key>R</key>
		<integer>224</integer>
	</dict>
	<key>Compose_140Num_color</key>
	<dict>
		<key>B</key>
		<integer>152</integer>
		<key>G</key>
		<integer>131</integer>
		<key>R</key>
		<integer>88</integer>
	</dict>
	<key>Compose_Option_color</key>
	<dict>
		<key>B</key>
		<integer>200</integer>
		<key>G</key>
		<integer>200</integer>
		<key>R</key>
		<integer>200</integer>
	</dict>
	<key>Compose_Option_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Compose_Original_color</key>
	<dict>
		<key>B</key>
		<integer>130</integer>
		<key>G</key>
		<integer>130</integer>
		<key>R</key>
		<integer>130</integer>
	</dict>
	<key>Compose_Original_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Compose_Text_color</key>
	<dict>
		<key>B</key>
		<integer>42</integer>
		<key>G</key>
		<integer>42</integer>
		<key>R</key>
		<integer>42</integer>
	</dict>
	<key>Detail_Bottom_Info_color</key>
	<dict>
		<key>B</key>
		<integer>176</integer>
		<key>G</key>
		<integer>123</integer>
		<key>R</key>
		<integer>58</integer>
	</dict>
	<key>Detail_Content_color</key>
	<dict>
		<key>B</key>
		<integer>105</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>66</integer>
	</dict>
	<key>Detail_Name_color</key>
	<dict>
		<key>B</key>
		<integer>224</integer>
		<key>G</key>
		<integer>243</integer>
		<key>R</key>
		<integer>235</integer>
	</dict>
	<key>Detail_Name_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0</real>
	</dict>
	<key>Detail_Reply_Name_color</key>
	<dict>
		<key>B</key>
		<integer>132</integer>
		<key>G</key>
		<integer>89</integer>
		<key>R</key>
		<integer>35</integer>
	</dict>
	<key>Detail_Reply_Text_color</key>
	<dict>
		<key>B</key>
		<integer>105</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>66</integer>
	</dict>
	<key>Detail_Reply_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>37</integer>
		<key>G</key>
		<integer>74</integer>
		<key>R</key>
		<integer>224</integer>
	</dict>
	<key>Detail_Reply_Time_color</key>
	<dict>
		<key>B</key>
		<integer>115</integer>
		<key>G</key>
		<integer>121</integer>
		<key>R</key>
		<integer>14</integer>
	</dict>
	<key>Detail_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>105</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>66</integer>
	</dict>
	<key>Group_Side_bar_color</key>
	<dict>
		<key>B</key>
		<integer>250</integer>
		<key>G</key>
		<integer>250</integer>
		<key>R</key>
		<integer>250</integer>
	</dict>
	<key>Group_Side_bar_color_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Group_Side_bar_color_highlight</key>
	<dict>
		<key>B</key>
		<integer>84</integer>
		<key>G</key>
		<integer>197</integer>
		<key>R</key>
		<integer>222</integer>
	</dict>
	<key>Group_Side_bar_color_shadow_highlight</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
	</dict>
	<key>Group_Text_color</key>
	<dict>
		<key>B</key>
		<integer>250</integer>
		<key>G</key>
		<integer>250</integer>
		<key>R</key>
		<integer>250</integer>
	</dict>
	<key>Group_Text_color_highlight</key>
	<dict>
		<key>B</key>
		<integer>84</integer>
		<key>G</key>
		<integer>197</integer>
		<key>R</key>
		<integer>222</integer>
	</dict>
	<key>Group_Text_color_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>Y</key>
		<string>0</string>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Group_Text_color_shadow_highlight</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>Y</key>
		<string>0</string>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Link_color</key>
	<dict>
		<key>B</key>
		<integer>168</integer>
		<key>G</key>
		<integer>102</integer>
		<key>R</key>
		<integer>24</integer>
	</dict>
	<key>Login_Ball_bg_color</key>
	<dict>
		<key>R</key>
		<integer>24</integer>
		<key>G</key>
		<integer>102</integer>
		<key>B</key>
		<integer>168</integer>
	</dict>
	<key>Mask_Button_color</key>
	<dict>
		<key>B</key>
		<integer>241</integer>
		<key>G</key>
		<integer>241</integer>
		<key>R</key>
		<integer>241</integer>
	</dict>
	<key>Mask_Button_emboss</key>
	<dict>
		<key>R</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>B</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Mask_Notice_color</key>
	<dict>
		<key>R</key>
		<integer>241</integer>
		<key>G</key>
		<integer>241</integer>
		<key>B</key>
		<integer>241</integer>
	</dict>
	<key>Mask_Notice_emboss</key>
	<dict>
		<key>R</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>B</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Mask_Title_color</key>
	<dict>
		<key>B</key>
		<integer>241</integer>
		<key>G</key>
		<integer>241</integer>
		<key>R</key>
		<integer>241</integer>
	</dict>
	<key>Mask_Title_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Mask_TopTab_Selected_color</key>
	<dict>
		<key>B</key>
		<integer>241</integer>
		<key>G</key>
		<integer>241</integer>
		<key>R</key>
		<integer>241</integer>
	</dict>
	<key>Mask_TopTab_Selected_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0</real>
	</dict>
	<key>Mask_TopTab_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
	</dict>
	<key>Mask_TopTab_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0</real>
	</dict>
	<key>More_Item_Line_color</key>
	<dict>
		<key>B</key>
		<integer>228</integer>
		<key>G</key>
		<integer>228</integer>
		<key>R</key>
		<integer>228</integer>
	</dict>
	<key>More_Item_Selected_Text_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>More_Item_Text_color</key>
	<dict>
		<key>B</key>
		<integer>105</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>66</integer>
	</dict>
	<key>More_Item_color</key>
	<dict>
		<key>B</key>
		<integer>241</integer>
		<key>G</key>
		<integer>241</integer>
		<key>R</key>
		<integer>241</integer>
	</dict>
	<key>Msg_Name_color</key>
	<dict>
		<key>B</key>
		<integer>50</integer>
		<key>G</key>
		<integer>50</integer>
		<key>R</key>
		<integer>50</integer>
	</dict>
	<key>Msg_Text_color</key>
	<dict>
		<key>B</key>
		<integer>52</integer>
		<key>G</key>
		<integer>52</integer>
		<key>R</key>
		<integer>52</integer>
	</dict>
	<key>Profile_4Button_Num_color</key>
	<dict>
		<key>B</key>
		<integer>198</integer>
		<key>G</key>
		<integer>152</integer>
		<key>R</key>
		<integer>67</integer>
	</dict>
	<key>Profile_4Button_Text_color</key>
	<dict>
		<key>B</key>
		<integer>97</integer>
		<key>G</key>
		<integer>74</integer>
		<key>R</key>
		<integer>63</integer>
	</dict>
	<key>Profile_BG_Text_color</key>
	<dict>
		<key>B</key>
		<integer>74</integer>
		<key>G</key>
		<integer>220</integer>
		<key>R</key>
		<integer>235</integer>
	</dict>
	<key>Profile_BG_Text_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Profile_Follow_color</key>
	<dict>
		<key>B</key>
		<integer>240</integer>
		<key>G</key>
		<integer>240</integer>
		<key>R</key>
		<integer>240</integer>
	</dict>
	<key>Profile_Follow_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0</real>
	</dict>
	<key>Profile_Unfollow_color</key>
	<dict>
		<key>B</key>
		<integer>240</integer>
		<key>G</key>
		<integer>240</integer>
		<key>R</key>
		<integer>240</integer>
	</dict>
	<key>Profile_Unfollow_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0</real>
	</dict>
	<key>Statusbar_Style</key>
	<integer>0</integer>
	<key>Theme_Main_color</key>
	<dict>
		<key>R</key>
		<integer>59</integer>
		<key>G</key>
		<integer>55</integer>
		<key>B</key>
		<integer>51</integer>
	</dict>
	<key>Timeline_Content_color</key>
	<dict>
		<key>B</key>
		<integer>105</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>66</integer>
	</dict>
	<key>Timeline_Name_color</key>
	<dict>
		<key>B</key>
		<integer>97</integer>
		<key>G</key>
		<integer>70</integer>
		<key>R</key>
		<integer>36</integer>
	</dict>
	<key>Timeline_Notice_color</key>
	<dict>
		<key>B</key>
		<integer>148</integer>
		<key>G</key>
		<integer>136</integer>
		<key>R</key>
		<integer>111</integer>
	</dict>
	<key>Timeline_Notice_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Timeline_PullRefresh_color</key>
	<dict>
		<key>B</key>
		<integer>148</integer>
		<key>G</key>
		<integer>136</integer>
		<key>R</key>
		<integer>111</integer>
	</dict>
	<key>Timeline_PullRefresh_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Timeline_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>105</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>66</integer>
	</dict>
	<key>Timeline_Selected_Content_color</key>
	<dict>
		<key>B</key>
		<integer>78</integer>
		<key>G</key>
		<integer>68</integer>
		<key>R</key>
		<integer>51</integer>
	</dict>
	<key>Timeline_Selected_Name_color</key>
	<dict>
		<key>B</key>
		<integer>39</integer>
		<key>G</key>
		<integer>50</integer>
		<key>R</key>
		<integer>100</integer>
	</dict>
	<key>Timeline_Selected_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>148</integer>
		<key>G</key>
		<integer>136</integer>
		<key>R</key>
		<integer>111</integer>
	</dict>
	<key>Timeline_Selected_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>193</integer>
		<key>G</key>
		<integer>195</integer>
		<key>R</key>
		<integer>83</integer>
	</dict>
	<key>Timeline_Selected_Time_color</key>
	<dict>
		<key>B</key>
		<integer>37</integer>
		<key>G</key>
		<integer>74</integer>
		<key>R</key>
		<integer>224</integer>
	</dict>
	<key>Timeline_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>93</integer>
		<key>G</key>
		<integer>45</integer>
		<key>R</key>
		<integer>203</integer>
	</dict>
	<key>Timeline_Time_color</key>
	<dict>
		<key>B</key>
		<integer>148</integer>
		<key>G</key>
		<integer>136</integer>
		<key>R</key>
		<integer>111</integer>
	</dict>
</dict>
</plist>
