<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background_Compose_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Background_Detail_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Background_Panel_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Background_Timeline_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Channel_Dot_color</key>
	<dict>
		<key>B</key>
		<integer>176</integer>
		<key>G</key>
		<integer>200</integer>
		<key>R</key>
		<integer>216</integer>
		<key>alpha</key>
		<real>0.6</real>
	</dict>
	<key>Channel_Dot_color_seleted</key>
	<dict>
		<key>B</key>
		<integer>180</integer>
		<key>G</key>
		<integer>100</integer>
		<key>R</key>
		<integer>130</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>Channel_Text_color</key>
	<dict>
		<key>B</key>
		<integer>6</integer>
		<key>G</key>
		<integer>40</integer>
		<key>New item</key>
		<string></string>
		<key>R</key>
		<integer>100</integer>
	</dict>
	<key>Channel_Text_color_shadow</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>R 2</key>
		<integer>255</integer>
		<key>Y</key>
		<string>0</string>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Compose_140Num_Warning_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>8</integer>
		<key>R</key>
		<integer>164</integer>
	</dict>
	<key>Compose_140Num_color</key>
	<dict>
		<key>B</key>
		<integer>179</integer>
		<key>G</key>
		<integer>179</integer>
		<key>R</key>
		<integer>179</integer>
	</dict>
	<key>Compose_Option_color</key>
	<dict>
		<key>B</key>
		<integer>75</integer>
		<key>G</key>
		<integer>75</integer>
		<key>R</key>
		<integer>75</integer>
	</dict>
	<key>Compose_Option_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0</real>
	</dict>
	<key>Compose_Original_color</key>
	<dict>
		<key>B</key>
		<integer>146</integer>
		<key>G</key>
		<integer>146</integer>
		<key>R</key>
		<integer>146</integer>
	</dict>
	<key>Compose_Original_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0</real>
	</dict>
	<key>Compose_Text_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
	</dict>
	<key>Detail_Bottom_Info_color</key>
	<dict>
		<key>B</key>
		<integer>30</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>140</integer>
	</dict>
	<key>Detail_Content_color</key>
	<dict>
		<key>B</key>
		<integer>20</integer>
		<key>G</key>
		<integer>40</integer>
		<key>R</key>
		<integer>50</integer>
	</dict>
	<key>Detail_Name_color</key>
	<dict>
		<key>B</key>
		<integer>10</integer>
		<key>G</key>
		<integer>40</integer>
		<key>R</key>
		<integer>100</integer>
	</dict>
	<key>Detail_Name_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0</real>
	</dict>
	<key>Detail_Reply_Name_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>60</integer>
		<key>R</key>
		<integer>220</integer>
	</dict>
	<key>Detail_Reply_Text_color</key>
	<dict>
		<key>B</key>
		<integer>20</integer>
		<key>G</key>
		<integer>40</integer>
		<key>R</key>
		<integer>50</integer>
	</dict>
	<key>Detail_Reply_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>60</integer>
		<key>R</key>
		<integer>220</integer>
	</dict>
	<key>Detail_Reply_Time_color</key>
	<dict>
		<key>B</key>
		<integer>30</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>140</integer>
	</dict>
	<key>Detail_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>20</integer>
		<key>G</key>
		<integer>40</integer>
		<key>R</key>
		<integer>50</integer>
	</dict>
	<key>Group_Side_bar_color</key>
	<dict>
		<key>B</key>
		<integer>10</integer>
		<key>G</key>
		<integer>50</integer>
		<key>R</key>
		<integer>70</integer>
	</dict>
	<key>Group_Side_bar_color_shadow</key>
	<dict>
		<key>B</key>
		<integer>200</integer>
		<key>G</key>
		<integer>240</integer>
		<key>R</key>
		<integer>255</integer>
		<key>Y</key>
		<integer>1</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Group_Side_bar_color_highlight</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Group_Side_bar_color_shadow_highlight</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>alpha</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>-1</integer>
	</dict>
	<key>Group_Text_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Group_Text_color_highlight</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Group_Text_color_shadow</key>
	<dict>
		<key>B</key>
		<integer>110</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>10</integer>
		<key>Y</key>
		<string>1</string>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Group_Text_color_shadow_highlight</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>Y</key>
		<string>1</string>
		<key>alpha</key>
		<real>0.1</real>
	</dict>
	<key>Link_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>60</integer>
		<key>R</key>
		<integer>220</integer>
	</dict>
	<key>Login_Ball_bg_color</key>
	<dict>
		<key>R</key>
		<integer>206</integer>
		<key>G</key>
		<integer>184</integer>
		<key>B</key>
		<integer>127</integer>
	</dict>
	<key>Mask_Button_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_Button_emboss</key>
	<dict>
		<key>R</key>
		<integer>10</integer>
		<key>G</key>
		<integer>20</integer>
		<key>B</key>
		<integer>80</integer>
		<key>Y</key>
		<integer>1</integer>
		<key>alpha</key>
		<real>0.3</real>
	</dict>
	<key>Mask_Notice_color</key>
	<dict>
		<key>R</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>B</key>
		<integer>255</integer>
	</dict>
	<key>Mask_Notice_emboss</key>
	<dict>
		<key>R</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>B</key>
		<integer>255</integer>
		<key>alpha</key>
		<integer>0</integer>
	</dict>
	<key>Mask_Title_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Mask_Title_shadow</key>
	<dict>
		<key>B</key>
		<integer>50</integer>
		<key>G</key>
		<integer>10</integer>
		<key>R</key>
		<integer>110</integer>
		<key>Y</key>
		<integer>1</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Mask_TopTab_Selected_color</key>
	<dict>
		<key>B</key>
		<integer>95</integer>
		<key>G</key>
		<integer>80</integer>
		<key>R</key>
		<integer>65</integer>
	</dict>
	<key>Mask_TopTab_Selected_shadow</key>
	<dict>
		<key>B</key>
		<integer>95</integer>
		<key>G</key>
		<integer>80</integer>
		<key>R</key>
		<integer>65</integer>
		<key>alpha</key>
		<real>0</real>
	</dict>
	<key>Mask_TopTab_color</key>
	<dict>
		<key>B</key>
		<integer>152</integer>
		<key>G</key>
		<integer>141</integer>
		<key>R</key>
		<integer>131</integer>
	</dict>
	<key>Mask_TopTab_shadow</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0</real>
	</dict>
	<key>More_Item_Line_color</key>
	<dict>
		<key>B</key>
		<integer>124</integer>
		<key>G</key>
		<integer>196</integer>
		<key>R</key>
		<integer>215</integer>
	</dict>
	<key>More_Item_Selected_Text_color</key>
	<dict>
		<key>B</key>
		<integer>10</integer>
		<key>G</key>
		<integer>40</integer>
		<key>R</key>
		<integer>100</integer>
	</dict>
	<key>More_Item_Text_color</key>
	<dict>
		<key>B</key>
		<integer>30</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>140</integer>
	</dict>
	<key>More_Item_color</key>
	<dict>
		<key>B</key>
		<integer>241</integer>
		<key>G</key>
		<integer>251</integer>
		<key>R</key>
		<integer>254</integer>
	</dict>
	<key>Msg_Name_color</key>
	<dict>
		<key>B</key>
		<integer>52</integer>
		<key>G</key>
		<integer>52</integer>
		<key>R</key>
		<integer>52</integer>
	</dict>
	<key>Msg_Text_color</key>
	<dict>
		<key>B</key>
		<integer>52</integer>
		<key>G</key>
		<integer>52</integer>
		<key>R</key>
		<integer>52</integer>
	</dict>
	<key>Profile_4Button_Num_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>64</integer>
		<key>R</key>
		<integer>226</integer>
	</dict>
	<key>Profile_4Button_Text_color</key>
	<dict>
		<key>B</key>
		<integer>30</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>140</integer>
	</dict>
	<key>Profile_BG_Text_color</key>
	<dict>
		<key>B</key>
		<integer>30</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>140</integer>
	</dict>
	<key>Profile_BG_Text_emboss</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Profile_Follow_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Profile_Follow_emboss</key>
	<dict>
		<key>B</key>
		<integer>90</integer>
		<key>G</key>
		<integer>80</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0</real>
	</dict>
	<key>Profile_Unfollow_color</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Profile_Unfollow_emboss</key>
	<dict>
		<key>B</key>
		<integer>90</integer>
		<key>G</key>
		<integer>80</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0</real>
	</dict>
	<key>Statusbar_Style</key>
	<integer>2</integer>
	<key>Theme_Main_color</key>
	<dict>
		<key>R</key>
		<integer>206</integer>
		<key>G</key>
		<integer>181</integer>
		<key>B</key>
		<integer>125</integer>
	</dict>
	<key>Timeline_Content_color</key>
	<dict>
		<key>B</key>
		<integer>50</integer>
		<key>G</key>
		<integer>50</integer>
		<key>R</key>
		<integer>50</integer>
	</dict>
	<key>Timeline_Name_color</key>
	<dict>
		<key>B</key>
		<integer>6</integer>
		<key>G</key>
		<integer>43</integer>
		<key>R</key>
		<integer>100</integer>
	</dict>
	<key>Timeline_Notice_color</key>
	<dict>
		<key>B</key>
		<integer>6</integer>
		<key>G</key>
		<integer>43</integer>
		<key>R</key>
		<integer>100</integer>
	</dict>
	<key>Timeline_Notice_emboss</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.05</real>
	</dict>
	<key>Timeline_PullRefresh_color</key>
	<dict>
		<key>B</key>
		<integer>30</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>140</integer>
	</dict>
	<key>Timeline_PullRefresh_emboss</key>
	<dict>
		<key>B</key>
		<integer>255</integer>
		<key>G</key>
		<integer>255</integer>
		<key>R</key>
		<integer>255</integer>
		<key>alpha</key>
		<real>0.5</real>
	</dict>
	<key>Timeline_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>50</integer>
		<key>G</key>
		<integer>50</integer>
		<key>R</key>
		<integer>50</integer>
	</dict>
	<key>Timeline_Selected_Content_color</key>
	<dict>
		<key>B</key>
		<integer>72</integer>
		<key>G</key>
		<integer>72</integer>
		<key>R</key>
		<integer>72</integer>
	</dict>
	<key>Timeline_Selected_Name_color</key>
	<dict>
		<key>B</key>
		<integer>6</integer>
		<key>G</key>
		<integer>43</integer>
		<key>R</key>
		<integer>100</integer>
	</dict>
	<key>Timeline_Selected_Retweet_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>25</integer>
		<key>R</key>
		<integer>60</integer>
	</dict>
	<key>Timeline_Selected_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>153</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Timeline_Selected_Time_color</key>
	<dict>
		<key>B</key>
		<integer>153</integer>
		<key>G</key>
		<integer>153</integer>
		<key>R</key>
		<integer>153</integer>
	</dict>
	<key>Timeline_TimeNew_color</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
		<key>G</key>
		<integer>65</integer>
		<key>R</key>
		<integer>255</integer>
	</dict>
	<key>Timeline_Time_color</key>
	<dict>
		<key>B</key>
		<integer>30</integer>
		<key>G</key>
		<integer>90</integer>
		<key>R</key>
		<integer>140</integer>
	</dict>
</dict>
</plist>
